-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('SUPER_ADMIN', 'GESTIONNAIRE', 'ADMIN', 'CAISSIER', 'SURVEILLANT', 'ENSEIGNANT', 'ELEVE', 'PARENT', 'RH');

-- CreateEnum
CREATE TYPE "RolePlateforme" AS ENUM ('SUPER_ADMIN', 'GESTIONNAIRE');

-- CreateEnum
CREATE TYPE "Genre" AS ENUM ('M', 'F', 'AUTRE');

-- CreateEnum
CREATE TYPE "LienParente" AS ENUM ('PERE', 'MERE', 'TUTEUR', 'TUTRICE', 'ONCLE', 'TANTE', 'GRAND_PERE', 'GRAND_MERE', 'AUTRE');

-- CreateEnum
CREATE TYPE "TypeEvaluation" AS ENUM ('DEVOIR', 'INTERROGATION', 'EXAMEN', 'COMPOSITION', 'CONTROLE', 'TP', 'ORAL');

-- CreateEnum
CREATE TYPE "StatutPaiement" AS ENUM ('EN_ATTENTE', 'VALIDE', 'REJETE');

-- CreateEnum
CREATE TYPE "TypePaiement" AS ENUM ('SCOLARITE', 'INSCRIPTION', 'CANTINE', 'TRANSPORT', 'AUTRE');

-- CreateEnum
CREATE TYPE "ModePaiement" AS ENUM ('ESPECES', 'VIREMENT', 'CHEQUE', 'MOBILE_MONEY', 'CARTE');

-- CreateEnum
CREATE TYPE "TypeAbsence" AS ENUM ('ABSENT', 'RETARD');

-- CreateEnum
CREATE TYPE "StatutAbsenceEleve" AS ENUM ('EN_ATTENTE', 'JUSTIFIEE', 'NON_JUSTIFIEE');

-- CreateEnum
CREATE TYPE "StatutBulletin" AS ENUM ('BROUILLON', 'SOUMIS', 'VALIDE', 'PUBLIE');

-- CreateEnum
CREATE TYPE "StatutInscription" AS ENUM ('ACTIF', 'TRANSFERE', 'EXCLU', 'TERMINE');

-- CreateEnum
CREATE TYPE "StatutAppel" AS ENUM ('BROUILLON', 'SOUMIS', 'VALIDE');

-- CreateEnum
CREATE TYPE "StatutPresence" AS ENUM ('PRESENT', 'ABSENT', 'RETARD');

-- CreateEnum
CREATE TYPE "TypePointage" AS ENUM ('ENTREE', 'SORTIE');

-- CreateEnum
CREATE TYPE "TypeContrat" AS ENUM ('CDI', 'CDD', 'STAGE', 'VACATAIRE', 'BENEVOLE');

-- CreateEnum
CREATE TYPE "TypeAbsencePersonnel" AS ENUM ('MALADIE', 'CONGE', 'SANS_SOLDE', 'AUTRE');

-- CreateEnum
CREATE TYPE "StatutAbsencePersonnel" AS ENUM ('EN_ATTENTE', 'APPROUVEE', 'REJETEE');

-- CreateEnum
CREATE TYPE "StatutReclamation" AS ENUM ('EN_ATTENTE', 'TRAITEE', 'REJETEE');

-- CreateEnum
CREATE TYPE "CanalNotification" AS ENUM ('EMAIL', 'SMS', 'WHATSAPP', 'IN_APP');

-- CreateEnum
CREATE TYPE "StatutNotification" AS ENUM ('EN_ATTENTE', 'ENVOYE', 'ECHEC');

-- CreateTable
CREATE TABLE "Tenant" (
    "id" UUID NOT NULL,
    "slug" VARCHAR(100) NOT NULL,
    "nom" TEXT NOT NULL,
    "emailContact" VARCHAR(254),
    "telephone" VARCHAR(20),
    "adresse" TEXT,
    "logoUrl" TEXT,
    "plan" VARCHAR(50) NOT NULL DEFAULT 'TRIAL',
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "dateExpiration" DATE,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Tenant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlateformeUtilisateur" (
    "id" UUID NOT NULL,
    "nom" VARCHAR(100) NOT NULL,
    "prenom" VARCHAR(100) NOT NULL,
    "email" VARCHAR(254) NOT NULL,
    "telephone" VARCHAR(20),
    "motDePasse" TEXT NOT NULL,
    "rolePlateforme" "RolePlateforme" NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "PlateformeUtilisateur_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "username" VARCHAR(100),
    "email" VARCHAR(254) NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "firstName" VARCHAR(100) NOT NULL,
    "lastName" VARCHAR(100) NOT NULL,
    "telephone" VARCHAR(20),
    "adresse" TEXT,
    "role" "UserRole" NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "mustChangePwd" BOOLEAN NOT NULL DEFAULT true,
    "matricule" VARCHAR(50),
    "dateNaissance" DATE,
    "lieuNaissance" TEXT,
    "genre" "Genre",
    "numeroUrgence" VARCHAR(20),
    "dateInscription" DATE,
    "photoUrl" TEXT,
    "classeId" UUID,
    "specialite" TEXT,
    "dateEmbauche" DATE,
    "numeroCNPS" VARCHAR(50),
    "numeroSecuriteSociale" VARCHAR(50),
    "profession" TEXT,
    "lieuTravail" TEXT,
    "telephoneTravail" VARCHAR(20),
    "lienParente" "LienParente",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EleveParent" (
    "eleveId" UUID NOT NULL,
    "parentId" UUID NOT NULL,

    CONSTRAINT "EleveParent_pkey" PRIMARY KEY ("eleveId","parentId")
);

-- CreateTable
CREATE TABLE "Cycle" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "code" VARCHAR(20) NOT NULL,
    "libelle" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Cycle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Niveau" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "cycleId" UUID NOT NULL,
    "code" VARCHAR(20) NOT NULL,
    "libelle" TEXT NOT NULL,
    "ordre" INTEGER NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Niveau_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AnneeAcademique" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "libelle" TEXT NOT NULL,
    "dateDebut" DATE NOT NULL,
    "dateFin" DATE NOT NULL,
    "estCourante" BOOLEAN NOT NULL DEFAULT false,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AnneeAcademique_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Batiment" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "nom" TEXT NOT NULL,
    "description" TEXT,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Batiment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Salle" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "batimentId" UUID NOT NULL,
    "nom" TEXT NOT NULL,
    "capacite" INTEGER,
    "typeSalle" VARCHAR(50),
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Salle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Classe" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "nom" TEXT NOT NULL,
    "niveauId" UUID,
    "anneeAcademiqueId" UUID,
    "salleId" UUID,
    "effectifMax" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Classe_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Matiere" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "code" VARCHAR(20) NOT NULL,
    "libelle" TEXT NOT NULL,
    "coefficient" DOUBLE PRECISION NOT NULL DEFAULT 1,
    "description" TEXT,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Matiere_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MatiereClasse" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "matiereId" UUID NOT NULL,
    "classeId" UUID NOT NULL,
    "enseignantId" UUID NOT NULL,
    "anneeAcademiqueId" UUID NOT NULL,
    "anneeScolaire" VARCHAR(10) NOT NULL,
    "volumeHoraire" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MatiereClasse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Cours" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "matiereId" UUID NOT NULL,
    "classeId" UUID NOT NULL,
    "enseignantId" UUID NOT NULL,
    "anneeAcademiqueId" UUID,
    "volumeHoraireHebdo" INTEGER,
    "coefficient" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Cours_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Inscription" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "numeroInscription" VARCHAR(50) NOT NULL,
    "eleveId" UUID NOT NULL,
    "classeId" UUID NOT NULL,
    "anneeAcademiqueId" UUID NOT NULL,
    "statut" "StatutInscription" NOT NULL DEFAULT 'ACTIF',
    "creePar" UUID NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Inscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Note" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "eleveId" UUID NOT NULL,
    "matiereId" UUID NOT NULL,
    "typeEvaluation" "TypeEvaluation" NOT NULL,
    "note" DOUBLE PRECISION NOT NULL,
    "noteSur" DOUBLE PRECISION NOT NULL DEFAULT 20,
    "trimestre" VARCHAR(20) NOT NULL,
    "anneeScolaire" VARCHAR(10) NOT NULL,
    "dateEvaluation" DATE,
    "commentaire" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Note_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Bulletin" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "eleveId" UUID NOT NULL,
    "classeId" UUID NOT NULL,
    "trimestre" VARCHAR(20) NOT NULL,
    "anneeScolaire" VARCHAR(10) NOT NULL,
    "moyenne" DOUBLE PRECISION,
    "moyenneClasse" DOUBLE PRECISION,
    "rang" INTEGER,
    "totalEleves" INTEGER,
    "appreciation" TEXT,
    "nombreAbsences" INTEGER NOT NULL DEFAULT 0,
    "nombreRetards" INTEGER NOT NULL DEFAULT 0,
    "fichierPdfUrl" TEXT,
    "statut" "StatutBulletin" NOT NULL DEFAULT 'BROUILLON',
    "soumisPar" UUID,
    "validePar" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Bulletin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AbsenceEleve" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "eleveId" UUID NOT NULL,
    "classeId" UUID NOT NULL,
    "date" DATE NOT NULL,
    "typeAbsence" "TypeAbsence" NOT NULL DEFAULT 'ABSENT',
    "justifiee" BOOLEAN NOT NULL DEFAULT false,
    "motif" TEXT,
    "documentUrl" TEXT,
    "statut" "StatutAbsenceEleve" NOT NULL DEFAULT 'EN_ATTENTE',
    "approuvePar" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AbsenceEleve_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AbsenceEnseignant" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "enseignantId" UUID NOT NULL,
    "dateDebut" DATE NOT NULL,
    "dateFin" DATE NOT NULL,
    "motif" TEXT NOT NULL,
    "justifiee" BOOLEAN NOT NULL DEFAULT false,
    "documentJustificatifUrl" TEXT,
    "remplacantId" UUID,
    "notificationEnvoyee" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AbsenceEnseignant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmploiDuTemps" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "classeId" UUID NOT NULL,
    "coursId" UUID,
    "salleId" UUID,
    "enseignantId" UUID,
    "matiereId" UUID,
    "jourSemaine" VARCHAR(20) NOT NULL,
    "heureDebut" VARCHAR(10) NOT NULL,
    "heureFin" VARCHAR(10) NOT NULL,
    "anneeScolaire" VARCHAR(10),
    "dateDebutValidite" DATE,
    "dateFinValidite" DATE,
    "publie" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EmploiDuTemps_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Appel" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "coursId" UUID NOT NULL,
    "classeId" UUID,
    "dateCours" DATE NOT NULL,
    "heureDebut" VARCHAR(10),
    "statut" "StatutAppel" NOT NULL DEFAULT 'BROUILLON',
    "soumisPar" UUID NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Appel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppelLigne" (
    "id" UUID NOT NULL,
    "appelId" UUID NOT NULL,
    "eleveId" UUID NOT NULL,
    "statut" "StatutPresence" NOT NULL DEFAULT 'PRESENT',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AppelLigne_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CahierTexte" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "coursId" UUID NOT NULL,
    "dateCours" DATE NOT NULL,
    "contenuTraite" TEXT NOT NULL,
    "observations" TEXT,
    "etapeProgramme" TEXT,
    "programmeValide" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CahierTexte_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Annonce" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "titre" TEXT NOT NULL,
    "contenu" TEXT NOT NULL,
    "dateDebut" DATE NOT NULL,
    "dateFin" DATE,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Annonce_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Convocation" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "parentId" UUID NOT NULL,
    "eleveId" UUID NOT NULL,
    "motif" TEXT NOT NULL,
    "dateConvocation" TIMESTAMP(3) NOT NULL,
    "statut" VARCHAR(20) NOT NULL DEFAULT 'EN_ATTENTE',
    "compteRendu" TEXT,
    "creePar" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Convocation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "destinataireId" UUID NOT NULL,
    "titre" TEXT NOT NULL,
    "contenu" TEXT,
    "lu" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NotificationLog" (
    "id" UUID NOT NULL,
    "tenantId" UUID,
    "canal" "CanalNotification" NOT NULL,
    "destinataire" TEXT NOT NULL,
    "sujet" TEXT,
    "contenu" TEXT,
    "statut" "StatutNotification" NOT NULL DEFAULT 'EN_ATTENTE',
    "erreur" TEXT,
    "envoyeLe" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "NotificationLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Paiement" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "inscriptionId" UUID,
    "eleveId" UUID NOT NULL,
    "parentId" UUID,
    "reference" VARCHAR(100) NOT NULL,
    "montant" DOUBLE PRECISION NOT NULL,
    "typePaiement" "TypePaiement" NOT NULL,
    "modePaiement" "ModePaiement" NOT NULL,
    "statut" "StatutPaiement" NOT NULL DEFAULT 'EN_ATTENTE',
    "anneeScolaire" VARCHAR(10) NOT NULL,
    "trimestre" VARCHAR(20),
    "transactionId" TEXT,
    "description" TEXT,
    "datePaiement" TIMESTAMP(3),
    "validePar" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Paiement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LienPaiementParent" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "parentId" UUID NOT NULL,
    "token" VARCHAR(255) NOT NULL,
    "montantTotal" DOUBLE PRECISION NOT NULL,
    "mois" VARCHAR(7) NOT NULL,
    "statut" VARCHAR(20) NOT NULL DEFAULT 'EN_ATTENTE',
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "otpHash" TEXT,
    "otpExpiresAt" TIMESTAMP(3),
    "otpVerified" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LienPaiementParent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LienBulletinParent" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "bulletinId" UUID NOT NULL,
    "parentId" UUID NOT NULL,
    "token" VARCHAR(255) NOT NULL,
    "otpHash" TEXT,
    "otpExpiresAt" TIMESTAMP(3),
    "otpVerified" BOOLEAN NOT NULL DEFAULT false,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "ouvertLe" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LienBulletinParent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Personnel" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "utilisateurId" UUID NOT NULL,
    "numeroMatricule" VARCHAR(50),
    "typeContrat" "TypeContrat",
    "dateEmbauche" DATE,
    "salaire" DOUBLE PRECISION,
    "soldeConge" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Personnel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pointage" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "personnelId" UUID NOT NULL,
    "typePointage" "TypePointage" NOT NULL,
    "dateHeure" TIMESTAMP(3) NOT NULL,
    "methode" VARCHAR(50),
    "createdBy" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Pointage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AbsencePersonnel" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "personnelId" UUID NOT NULL,
    "dateDebut" DATE NOT NULL,
    "dateFin" DATE NOT NULL,
    "motif" TEXT,
    "typeAbsence" "TypeAbsencePersonnel",
    "justificatifUrl" TEXT,
    "statut" "StatutAbsencePersonnel" NOT NULL DEFAULT 'EN_ATTENTE',
    "validePar" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AbsencePersonnel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SurveillantCycle" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "surveillantId" UUID NOT NULL,
    "cycleId" UUID NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SurveillantCycle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Reclamation" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "eleveId" UUID NOT NULL,
    "noteId" UUID,
    "motif" TEXT NOT NULL,
    "statut" "StatutReclamation" NOT NULL DEFAULT 'EN_ATTENTE',
    "reponse" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Reclamation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CalendrierScolaire" (
    "id" UUID NOT NULL,
    "tenantId" UUID NOT NULL,
    "titre" TEXT NOT NULL,
    "description" TEXT,
    "dateDebut" DATE NOT NULL,
    "dateFin" DATE,
    "type" VARCHAR(50),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CalendrierScolaire_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" UUID NOT NULL,
    "tenantId" UUID,
    "utilisateurId" UUID,
    "plateformeUserId" UUID,
    "role" VARCHAR(50),
    "action" VARCHAR(100) NOT NULL,
    "resourceType" VARCHAR(100),
    "resourceId" UUID,
    "details" JSONB,
    "ipAddress" VARCHAR(45),
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RefreshToken" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "revoked" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PasswordResetToken" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "usedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PasswordResetToken_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Tenant_slug_key" ON "Tenant"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "PlateformeUtilisateur_email_key" ON "PlateformeUtilisateur"("email");

-- CreateIndex
CREATE INDEX "User_tenantId_role_idx" ON "User"("tenantId", "role");

-- CreateIndex
CREATE UNIQUE INDEX "User_tenantId_email_key" ON "User"("tenantId", "email");

-- CreateIndex
CREATE UNIQUE INDEX "users_tenant_matricule_unique" ON "User"("tenantId", "matricule");

-- CreateIndex
CREATE UNIQUE INDEX "Cycle_tenantId_code_key" ON "Cycle"("tenantId", "code");

-- CreateIndex
CREATE UNIQUE INDEX "Niveau_tenantId_code_key" ON "Niveau"("tenantId", "code");

-- CreateIndex
CREATE UNIQUE INDEX "AnneeAcademique_tenantId_libelle_key" ON "AnneeAcademique"("tenantId", "libelle");

-- CreateIndex
CREATE UNIQUE INDEX "Classe_tenantId_nom_anneeAcademiqueId_key" ON "Classe"("tenantId", "nom", "anneeAcademiqueId");

-- CreateIndex
CREATE UNIQUE INDEX "Matiere_tenantId_code_key" ON "Matiere"("tenantId", "code");

-- CreateIndex
CREATE UNIQUE INDEX "MatiereClasse_matiereId_classeId_enseignantId_anneeAcademiq_key" ON "MatiereClasse"("matiereId", "classeId", "enseignantId", "anneeAcademiqueId");

-- CreateIndex
CREATE UNIQUE INDEX "Cours_matiereId_enseignantId_classeId_anneeAcademiqueId_key" ON "Cours"("matiereId", "enseignantId", "classeId", "anneeAcademiqueId");

-- CreateIndex
CREATE UNIQUE INDEX "Inscription_numeroInscription_key" ON "Inscription"("numeroInscription");

-- CreateIndex
CREATE UNIQUE INDEX "Bulletin_eleveId_classeId_trimestre_anneeScolaire_key" ON "Bulletin"("eleveId", "classeId", "trimestre", "anneeScolaire");

-- CreateIndex
CREATE UNIQUE INDEX "Paiement_reference_key" ON "Paiement"("reference");

-- CreateIndex
CREATE UNIQUE INDEX "LienPaiementParent_token_key" ON "LienPaiementParent"("token");

-- CreateIndex
CREATE UNIQUE INDEX "LienBulletinParent_token_key" ON "LienBulletinParent"("token");

-- CreateIndex
CREATE UNIQUE INDEX "Personnel_utilisateurId_key" ON "Personnel"("utilisateurId");

-- CreateIndex
CREATE UNIQUE INDEX "SurveillantCycle_surveillantId_cycleId_key" ON "SurveillantCycle"("surveillantId", "cycleId");

-- CreateIndex
CREATE INDEX "AuditLog_tenantId_createdAt_idx" ON "AuditLog"("tenantId", "createdAt");

-- CreateIndex
CREATE INDEX "AuditLog_utilisateurId_idx" ON "AuditLog"("utilisateurId");

-- CreateIndex
CREATE UNIQUE INDEX "RefreshToken_tokenHash_key" ON "RefreshToken"("tokenHash");

-- CreateIndex
CREATE INDEX "RefreshToken_userId_idx" ON "RefreshToken"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "PasswordResetToken_tokenHash_key" ON "PasswordResetToken"("tokenHash");

-- CreateIndex
CREATE INDEX "PasswordResetToken_userId_expiresAt_idx" ON "PasswordResetToken"("userId", "expiresAt");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_classeId_fkey" FOREIGN KEY ("classeId") REFERENCES "Classe"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EleveParent" ADD CONSTRAINT "EleveParent_eleveId_fkey" FOREIGN KEY ("eleveId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EleveParent" ADD CONSTRAINT "EleveParent_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cycle" ADD CONSTRAINT "Cycle_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Niveau" ADD CONSTRAINT "Niveau_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Niveau" ADD CONSTRAINT "Niveau_cycleId_fkey" FOREIGN KEY ("cycleId") REFERENCES "Cycle"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AnneeAcademique" ADD CONSTRAINT "AnneeAcademique_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Batiment" ADD CONSTRAINT "Batiment_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Salle" ADD CONSTRAINT "Salle_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Salle" ADD CONSTRAINT "Salle_batimentId_fkey" FOREIGN KEY ("batimentId") REFERENCES "Batiment"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Classe" ADD CONSTRAINT "Classe_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Classe" ADD CONSTRAINT "Classe_niveauId_fkey" FOREIGN KEY ("niveauId") REFERENCES "Niveau"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Classe" ADD CONSTRAINT "Classe_anneeAcademiqueId_fkey" FOREIGN KEY ("anneeAcademiqueId") REFERENCES "AnneeAcademique"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Classe" ADD CONSTRAINT "Classe_salleId_fkey" FOREIGN KEY ("salleId") REFERENCES "Salle"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Matiere" ADD CONSTRAINT "Matiere_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MatiereClasse" ADD CONSTRAINT "MatiereClasse_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MatiereClasse" ADD CONSTRAINT "MatiereClasse_matiereId_fkey" FOREIGN KEY ("matiereId") REFERENCES "Matiere"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MatiereClasse" ADD CONSTRAINT "MatiereClasse_classeId_fkey" FOREIGN KEY ("classeId") REFERENCES "Classe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MatiereClasse" ADD CONSTRAINT "MatiereClasse_enseignantId_fkey" FOREIGN KEY ("enseignantId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MatiereClasse" ADD CONSTRAINT "MatiereClasse_anneeAcademiqueId_fkey" FOREIGN KEY ("anneeAcademiqueId") REFERENCES "AnneeAcademique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cours" ADD CONSTRAINT "Cours_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cours" ADD CONSTRAINT "Cours_matiereId_fkey" FOREIGN KEY ("matiereId") REFERENCES "Matiere"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cours" ADD CONSTRAINT "Cours_classeId_fkey" FOREIGN KEY ("classeId") REFERENCES "Classe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cours" ADD CONSTRAINT "Cours_anneeAcademiqueId_fkey" FOREIGN KEY ("anneeAcademiqueId") REFERENCES "AnneeAcademique"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inscription" ADD CONSTRAINT "Inscription_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inscription" ADD CONSTRAINT "Inscription_classeId_fkey" FOREIGN KEY ("classeId") REFERENCES "Classe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inscription" ADD CONSTRAINT "Inscription_anneeAcademiqueId_fkey" FOREIGN KEY ("anneeAcademiqueId") REFERENCES "AnneeAcademique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Note" ADD CONSTRAINT "Note_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Note" ADD CONSTRAINT "Note_matiereId_fkey" FOREIGN KEY ("matiereId") REFERENCES "Matiere"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bulletin" ADD CONSTRAINT "Bulletin_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bulletin" ADD CONSTRAINT "Bulletin_classeId_fkey" FOREIGN KEY ("classeId") REFERENCES "Classe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbsenceEleve" ADD CONSTRAINT "AbsenceEleve_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbsenceEleve" ADD CONSTRAINT "AbsenceEleve_classeId_fkey" FOREIGN KEY ("classeId") REFERENCES "Classe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbsenceEnseignant" ADD CONSTRAINT "AbsenceEnseignant_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbsenceEnseignant" ADD CONSTRAINT "AbsenceEnseignant_enseignantId_fkey" FOREIGN KEY ("enseignantId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmploiDuTemps" ADD CONSTRAINT "EmploiDuTemps_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmploiDuTemps" ADD CONSTRAINT "EmploiDuTemps_classeId_fkey" FOREIGN KEY ("classeId") REFERENCES "Classe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmploiDuTemps" ADD CONSTRAINT "EmploiDuTemps_coursId_fkey" FOREIGN KEY ("coursId") REFERENCES "Cours"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmploiDuTemps" ADD CONSTRAINT "EmploiDuTemps_salleId_fkey" FOREIGN KEY ("salleId") REFERENCES "Salle"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Appel" ADD CONSTRAINT "Appel_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Appel" ADD CONSTRAINT "Appel_coursId_fkey" FOREIGN KEY ("coursId") REFERENCES "Cours"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Appel" ADD CONSTRAINT "Appel_classeId_fkey" FOREIGN KEY ("classeId") REFERENCES "Classe"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AppelLigne" ADD CONSTRAINT "AppelLigne_appelId_fkey" FOREIGN KEY ("appelId") REFERENCES "Appel"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CahierTexte" ADD CONSTRAINT "CahierTexte_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CahierTexte" ADD CONSTRAINT "CahierTexte_coursId_fkey" FOREIGN KEY ("coursId") REFERENCES "Cours"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Annonce" ADD CONSTRAINT "Annonce_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Convocation" ADD CONSTRAINT "Convocation_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NotificationLog" ADD CONSTRAINT "NotificationLog_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Paiement" ADD CONSTRAINT "Paiement_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Paiement" ADD CONSTRAINT "Paiement_inscriptionId_fkey" FOREIGN KEY ("inscriptionId") REFERENCES "Inscription"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LienPaiementParent" ADD CONSTRAINT "LienPaiementParent_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LienBulletinParent" ADD CONSTRAINT "LienBulletinParent_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LienBulletinParent" ADD CONSTRAINT "LienBulletinParent_bulletinId_fkey" FOREIGN KEY ("bulletinId") REFERENCES "Bulletin"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Personnel" ADD CONSTRAINT "Personnel_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Personnel" ADD CONSTRAINT "Personnel_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pointage" ADD CONSTRAINT "Pointage_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pointage" ADD CONSTRAINT "Pointage_personnelId_fkey" FOREIGN KEY ("personnelId") REFERENCES "Personnel"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbsencePersonnel" ADD CONSTRAINT "AbsencePersonnel_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbsencePersonnel" ADD CONSTRAINT "AbsencePersonnel_personnelId_fkey" FOREIGN KEY ("personnelId") REFERENCES "Personnel"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SurveillantCycle" ADD CONSTRAINT "SurveillantCycle_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SurveillantCycle" ADD CONSTRAINT "SurveillantCycle_surveillantId_fkey" FOREIGN KEY ("surveillantId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SurveillantCycle" ADD CONSTRAINT "SurveillantCycle_cycleId_fkey" FOREIGN KEY ("cycleId") REFERENCES "Cycle"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reclamation" ADD CONSTRAINT "Reclamation_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reclamation" ADD CONSTRAINT "Reclamation_noteId_fkey" FOREIGN KEY ("noteId") REFERENCES "Note"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CalendrierScolaire" ADD CONSTRAINT "CalendrierScolaire_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_plateformeUserId_fkey" FOREIGN KEY ("plateformeUserId") REFERENCES "PlateformeUtilisateur"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RefreshToken" ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PasswordResetToken" ADD CONSTRAINT "PasswordResetToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

